@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem

@if (DataSource == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @Columns(default(TItem))
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DataSource.Items)
            {
                <CascadingValue Value="item">
                    <tr>
                        @Columns(item)
                    </tr>
                </CascadingValue>
            }
        </tbody>
    </table>
    if (Paging)
    {
        <Pagination Page="@_gridInfo.Page"
            PageSize="@_gridInfo.PageSize"
            ItemCount="@DataSource.Count"
            Callback="@((args) => OnPaginationChange(args.Page, args.PageSize))" />
    }
}